@font-face {
  font-family: 'Creepster';
  src: url('../assets/fonts/Creepster/Creepster-Regular.ttf') format('ttf'),
       url('../assets/fonts/Creepster/Creepster-Regular.woff2') format('woff2'),
       url('../assets/fonts/Creepster/Creepster-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ConcertOne';
  src: url('../assets/fonts/Concert_One/ConcertOne-Regular.ttf') format('ttf'),
       url('../assets/fonts/Concert_One/ConcertOne-Regular.woff2') format('woff2'),
       url('../assets/fonts/Concert_One/ConcertOne-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}
