@font-face {
  font-family: 'Creepster';
  src: url('../assets/fonts/Creepster/Creepster-Regular.ttf') format('ttf'),
       url('../assets/fonts/Creepster/Creepster-Regular.woff2') format('woff2'),
       url('../assets/fonts/Creepster/Creepster-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ConcertOne';
  src: url('../assets/fonts/Concert_One/ConcertOne-Regular.ttf') format('ttf'),
       url('../assets/fonts/Concert_One/ConcertOne-Regular.woff2') format('woff2'),
       url('../assets/fonts/Concert_One/ConcertOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('ttf'),
       url('../assets/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
       url('../assets/fonts/Poppins/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('ttf'),
       url('../assets/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
       url('../assets/fonts/Poppins/Poppins-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../assets/fonts/Poppins/Poppins-Bold.ttf') format('ttf'),
       url('../assets/fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
       url('../assets/fonts/Poppins/Poppins-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Black';
  src: url('../assets/fonts/Poppins/Poppins-Black.ttf') format('ttf'),
       url('../assets/fonts/Poppins/Poppins-Black.woff2') format('woff2'),
       url('../assets/fonts/Poppins/Poppins-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.title-name{
  font-family: Creepster;
  width: 250px;
  height: 47px;
  line-height: 40px;
  color: #fff;
  font-size: 35px;
}

h3.title-page{
  box-shadow: 0px 3px 6px 0px #0000001F;
  box-shadow: 0px 3px 6px 0px #00000014;
  color: #00B5CC;
  font-family: Creepster, arial, verdana;
  font-size: 48px;
  -webkit-text-fill-color: #00B5CC;
  -webkit-text-stroke: 3px #B2DF28;
  margin: 0;
  letter-spacing: 0.3rem;
}