.listCards{
    gap: 2.5rem;
    padding: 0 14.5rem;
    display: grid;
    grid-template-columns: auto auto auto;
}

mat-card-title{
    font-family: Creepster;
    width: 250px;
    height: 47px;
    line-height: 20px;
}

.mdc-card__media {
    min-height: 300px;
    min-width: 320px;
}
@media only screen and (max-width: 600px) {
    .listCards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }
}

