<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput type="text" [formControl]="searchQueryControl">
</mat-form-field>

<div class="listCards">
    <!-- Agora, itera sobre filteredCharacters em vez de listCharacters -->
    @for (item of filteredCharacters; track item.id) {
        <div (click)="detailCharacter(item.id)">
            <mat-card class="card-rickandmorty">
                <img mat-card-image src="{{ item.image }}" alt="{{ item.name }}">
                <mat-card-header>
                <mat-card-title>{{ item.name }}</mat-card-title>
                <mat-card-subtitle>{{ item.species }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-icon-button matTooltip="Favoritos" aria-label="Favoritos">
                        <mat-icon>favorite</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    }
    <div class="flex w-full p-1 justify-between">
        <button
          class="bg-gray-500 p-1 rounded-md hover:bg-gray-400 px-5"
          (click)="getCharacters(page - 1)"
        >
          Anterior
        </button>
        <button
          class="bg-gray-500 p-1 rounded-md hover:bg-gray-400 px-5"
          (click)="getCharacters(page + 1)"
        >
          Próxima
        </button>
    </div>
</div>
