.listCards{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}

mat-card-title{
    font-family: Creepster;
    width: 250px;
    height: 47px;
    line-height: 20px;
}

.mdc-card__media {
    min-height: 300px;
    min-width: 320px;
}
