<div class="listCards">
    <div *ngFor="let character of characters">
        <p>{{ character.name }}</p>
        <img [src]="character.image" alt="{{ character.name }}">
      </div>
    <mat-card class="card-rickandmorty">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="card-rickandmorty">
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="card-rickandmorty">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-header>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </mat-card-actions>
          </mat-card>
</div>
