<div class="listCardsFavorites">
    <div class="title-page-row">
        <h3 class="title-page">Favoritos</h3>
    </div>
    <div class="list" *ngIf="favorites.length > 0">
        <div *ngFor="let favorite of favorites">
            <button mat-icon-button matTooltip="Trash" aria-label="Trash" class="trashicon" (click)="removeFavorite(favorite.id)">
                <mat-icon aria-hidden="false" aria-label="Trash">delete</mat-icon>
            </button>
            <img mat-card-image src="{{ favorite.image }}" alt="{{ favorite.name }}">
            <mat-card class="card-rickandmorty">
                <mat-card-header>
                    <mat-card-title>{{ favorite.name }}</mat-card-title>
                    <mat-card-subtitle>{{ favorite.species }}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
    <div *ngIf="favorites.length === 0">
        <div class="box-empty">
            <h2>Parece que você ainda não tem favoritos</h2>
            <p>Volte à página inicial e escolha os melhores para você.</p>
            <p>
                <button mat-flat-button [routerLink]="'/'">Voltar ao início</button>
            </p>
        </div>
    </div>
</div>